<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Mis a jour : {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase}}
  <ul class="list-group">
    <app-appareil *ngFor="let appareil of appareils; let i=index" 
    [indexOfAppareil]="i"
    [appareilName]="appareil.name" 
    [appareilStatus]="appareil.status">
    </app-appareil>
  </ul>
  <button class="btn btn-success" 

  (click)="onAllumer()">Tout allume</button>&nbsp;
  <button class="btn btn-danger"
  (click)="onEteindre()">Tout eteindre</button>
</div>